<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588625995720-r88mkt7hfsups5p0rs8v9afief0u8g5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588625995720-r88mkt7hfsups5p0rs8v9afief0u8g5r</string>
	<key>API_KEY</key>
	<string>AIzaSyA2kaL4FbBWvThMryAGwXF4YPVyl7_5UdU</string>
	<key>GCM_SENDER_ID</key>
	<string>588625995720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.HealthHack</string>
	<key>PROJECT_ID</key>
	<string>healthhack-678f5</string>
	<key>STORAGE_BUCKET</key>
	<string>healthhack-678f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588625995720:ios:f0972b82a859b93afc42fd</string>
</dict>
</plist>